@font-face {
	font-family: 'CommitMono';
	src: url('./CommitMonoNerdFont-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	height: 100%;
	width: 100%;
	font-family: "CommitMono", sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	width: 100%;
	max-width: 768px;
}
