@font-face {
	font-family: 'CommitMono';
	src: url('./CommitMonoNerdFont-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'CommitMono', sans-serif;
}
